In [1]:
import pandas as pd
from pyspark.sql import SparkSession
from sklearn import svm

creditos = pd.read_parquet('creditos.parquet', engine='pyarrow')
demografico = pd.read_parquet('demografico.parquet', engine='pyarrow')

spark = SparkSession \
    .builder \
    .appName("Challenge") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

df = spark.sql("SELECT cr.customerid, cr.nombre_transaccion, cr.monto_transaccion, de.maritalstatus, de.gender, de.edad FROM parquet.`creditos.parquet` as cr INNER JOIN parquet.`demografico.parquet` as de ON cr.customerid == de.customerid ORDER BY cr.monto_transaccion DESC")
df.show()

+----------+------------------+-----------------+-------------+------+----+
|customerid|nombre_transaccion|monto_transaccion|maritalstatus|gender|edad|
+----------+------------------+-----------------+-------------+------+----+
|      5120|      SUPER AVANCE|       5370569.00|       CASADO|     M|72.0|
|     40214|      SUPER AVANCE|       5370569.00|       CASADO|     M|74.0|
|     87958|      SUPER AVANCE|       5370569.00|      SOLTERO|     F|72.0|
|     40214|      SUPER AVANCE|       5370569.00|       CASADO|     M|74.0|
|     23189|       AVANCE CAJA|       5370569.00|       CASADO|     F|71.0|
|     11271|      SUPER AVANCE|       5005371.00|       CASADO|     F|75.0|
|     92959|      SUPER AVANCE|       5000000.00|       CASADO|     M|75.0|
|     81587|      SUPER AVANCE|       5000000.00|       CASADO|     F|75.0|
|     93189|      SUPER AVANCE|       5000000.00|       CASADO|     M|73.0|
|     16227|      SUPER AVANCE|       5000000.00|       CASADO|     F|71.0|
|     60013|      SUPER AVANCE|       5000000.00|       CASADO|     M|74.0|
|     41946|       AVANCE CAJA|       5000000.00|       CASADO|     M|75.0|
|     81587|      SUPER AVANCE|       5000000.00|       CASADO|     F|75.0|
|     44542|      SUPER AVANCE|       5000000.00|       CASADO|     M|70.0|
|     47981|      SUPER AVANCE|       5000000.00|      SOLTERO|     M|69.0|
|     10094|      SUPER AVANCE|       5000000.00|      SOLTERO|     M|75.0|
|     44542|      SUPER AVANCE|       5000000.00|       CASADO|     M|70.0|
|     73415|      SUPER AVANCE|       5000000.00|      SOLTERO|     M|73.0|
|     90301|      SUPER AVANCE|       5000000.00|       CASADO|     M|69.0|
|     90248|       AVANCE CAJA|       5000000.00|       CASADO|     M|75.0|
+----------+------------------+-----------------+-------------+------+----+
only showing top 20 rows

In [82]:
pdf = df.toPandas()

pdf.loc[pdf['maritalstatus'] == 'SOLTERO', 'maritalstatus_map'] = 0
pdf.loc[pdf['maritalstatus'] == 'CASADO', 'maritalstatus_map'] = 1
pdf.loc[pdf['maritalstatus'] == 'VIUDO', 'maritalstatus_map'] = 2
pdf.loc[pdf['maritalstatus'] == 'NO INF', 'maritalstatus_map'] = 3

pdf.loc[pdf['gender'] == 'F', 'gender_map'] = 0
pdf.loc[pdf['gender'] == 'M', 'gender_map'] = 1

drop_elements = ['customerid', 'nombre_transaccion', 'maritalstatus', 'gender']

pdf.loc[pdf['nombre_transaccion'] == 'AVANCE CAJA', 'nombre_transaccion_map'] = 0
pdf.loc[pdf['nombre_transaccion'] == 'SUPER AVANCE', 'nombre_transaccion_map'] = 1

pdf_map = pdf.drop(drop_elements, axis = 1)
pdf_map

,monto_transaccion,edad,maritalstatus_map,gender_map,nombre_transaccion_map
0,5370569.00,71.0,1.0,0.0,0.0
1,5370569.00,72.0,0.0,0.0,1.0
2,5370569.00,72.0,1.0,1.0,1.0
3,5370569.00,74.0,1.0,1.0,1.0
4,5370569.00,74.0,1.0,1.0,1.0
5,5005371.00,75.0,1.0,0.0,1.0
6,5000000.00,70.0,1.0,0.0,1.0
7,5000000.00,71.0,1.0,0.0,0.0
8,5000000.00,75.0,1.0,1.0,0.0
9,5000000.00,71.0,1.0,0.0,1.0
10,5000000.00,69.0,1.0,1.0,1.0
11,5000000.00,70.0,1.0,1.0,1.0
12,5000000.00,70.0,1.0,1.0,1.0
13,5000000.00,70.0,1.0,1.0,1.0
14,5000000.00,71.0,1.0,0.0,1.0
15,5000000.00,71.0,1.0,0.0,1.0
16,5000000.00,67.0,1.0,1.0,1.0
17,5000000.00,75.0,1.0,1.0,1.0
18,5000000.00,69.0,0.0,1.0,1.0
19,5000000.00,75.0,1.0,0.0,1.0
20,5000000.00,75.0,1.0,0.0,1.0
21,5000000.00,73.0,1.0,1.0,1.0
22,5000000.00,74.0,1.0,1.0,1.0
23,5000000.00,75.0,1.0,1.0,0.0
24,5000000.00,75.0,0.0,1.0,1.0
25,5000000.00,73.0,0.0,1.0,1.0
26,4781240.00,75.0,1.0,1.0,0.0
27,4748000.00,78.0,0.0,1.0,0.0
28,4400000.00,74.0,1.0,0.0,1.0
29,4206099.00,65.0,1.0,0.0,1.0
...,...,...,...,...,...
3390,10000.00,73.0,1.0,0.0,0.0
3391,10000.00,75.0,1.0,1.0,0.0
3392,10000.00,78.0,1.0,1.0,0.0
3393,10000.00,79.0,1.0,1.0,0.0
3394,10000.00,87.0,1.0,0.0,0.0
3395,10000.00,75.0,1.0,1.0,0.0
3396,10000.00,75.0,1.0,1.0,0.0
3397,10000.00,75.0,1.0,1.0,0.0
3398,10000.00,79.0,1.0,1.0,0.0
3399,10000.00,79.0,1.0,1.0,0.0
3400,10000.00,79.0,0.0,1.0,0.0
3401,10000.00,76.0,1.0,0.0,0.0
3402,10000.00,81.0,0.0,0.0,0.0
3403,10000.00,81.0,0.0,0.0,0.0
3404,10000.00,81.0,0.0,0.0,0.0
3405,10000.00,76.0,0.0,1.0,0.0
3406,10000.00,71.0,1.0,0.0,0.0
3407,10000.00,74.0,0.0,0.0,0.0
3408,10000.00,74.0,0.0,0.0,0.0
3409,10000.00,48.0,0.0,1.0,0.0
3410,10000.00,76.0,1.0,0.0,0.0
3411,10000.00,77.0,1.0,0.0,0.0
3412,10000.00,77.0,1.0,0.0,0.0
3413,10000.00,77.0,1.0,0.0,0.0
3414,10000.00,74.0,1.0,1.0,0.0
3415,5000.00,90.0,1.0,1.0,0.0
3416,5000.00,79.0,1.0,1.0,0.0
3417,5000.00,73.0,0.0,1.0,0.0
3418,5000.00,79.0,1.0,0.0,0.0
3419,5000.00,74.0,0.0,0.0,0.0

In [111]:
pdf_map['monto_transaccion'] = pdf_map.monto_transaccion.astype(int)

In [112]:
pdf_map['edad'] = pdf_map.edad.astype(int)

In [113]:
pdf_map['maritalstatus_map'] = pdf_map.maritalstatus_map.astype(int)

In [114]:
pdf_map['gender_map'] = pdf_map.gender_map.astype(int)

In [115]:
pdf_map['nombre_transaccion_map'] = pdf_map.nombre_transaccion_map.astype(int)

In [116]:
pdf_map

,monto_transaccion,edad,maritalstatus_map,gender_map,nombre_transaccion_map
0,5370569,71,1,0,0
1,5370569,72,0,0,1
2,5370569,72,1,1,1
3,5370569,74,1,1,1
4,5370569,74,1,1,1
5,5005371,75,1,0,1
6,5000000,70,1,0,1
7,5000000,71,1,0,0
8,5000000,75,1,1,0
9,5000000,71,1,0,1
10,5000000,69,1,1,1
11,5000000,70,1,1,1
12,5000000,70,1,1,1
13,5000000,70,1,1,1
14,5000000,71,1,0,1
15,5000000,71,1,0,1
16,5000000,67,1,1,1
17,5000000,75,1,1,1
18,5000000,69,0,1,1
19,5000000,75,1,0,1
20,5000000,75,1,0,1
21,5000000,73,1,1,1
22,5000000,74,1,1,1
23,5000000,75,1,1,0
24,5000000,75,0,1,1
25,5000000,73,0,1,1
26,4781240,75,1,1,0
27,4748000,78,0,1,0
28,4400000,74,1,0,1
29,4206099,65,1,0,1
...,...,...,...,...,...
3390,10000,73,1,0,0
3391,10000,75,1,1,0
3392,10000,78,1,1,0
3393,10000,79,1,1,0
3394,10000,87,1,0,0
3395,10000,75,1,1,0
3396,10000,75,1,1,0
3397,10000,75,1,1,0
3398,10000,79,1,1,0
3399,10000,79,1,1,0
3400,10000,79,0,1,0
3401,10000,76,1,0,0
3402,10000,81,0,0,0
3403,10000,81,0,0,0
3404,10000,81,0,0,0
3405,10000,76,0,1,0
3406,10000,71,1,0,0
3407,10000,74,0,0,0
3408,10000,74,0,0,0
3409,10000,48,0,1,0
3410,10000,76,1,0,0
3411,10000,77,1,0,0
3412,10000,77,1,0,0
3413,10000,77,1,0,0
3414,10000,74,1,1,0
3415,5000,90,1,1,0
3416,5000,79,1,1,0
3417,5000,73,0,1,0
3418,5000,79,1,0,0
3419,5000,74,0,0,0

In [89]:
drop_elements = ['monto_transaccion']
X = pdf_map.drop(drop_elements, axis = 1)

In [90]:
X

      edad  maritalstatus_map  gender_map  nombre_transaccion_map
0       71                  1           0                       0
1       72                  0           0                       1
2       72                  1           1                       1
3       74                  1           1                       1
4       74                  1           1                       1
5       75                  1           0                       1
6       70                  1           0                       1
7       71                  1           0                       0
8       75                  1           1                       0
9       71                  1           0                       1
10      69                  1           1                       1
11      70                  1           1                       1
12      70                  1           1                       1
13      70                  1           1                       1
14      71                  1           0                       1
15      71                  1           0                       1
16      67                  1           1                       1
17      75                  1           1                       1
18      69                  0           1                       1
19      75                  1           0                       1
20      75                  1           0                       1
21      73                  1           1                       1
22      74                  1           1                       1
23      75                  1           1                       0
24      75                  0           1                       1
25      73                  0           1                       1
26      75                  1           1                       0
27      78                  0           1                       0
28      74                  1           0                       1
29      65                  1           0                       1
...    ...                ...         ...                     ...
3390    73                  1           0                       0
3391    75                  1           1                       0
3392    78                  1           1                       0
3393    79                  1           1                       0
3394    87                  1           0                       0
3395    75                  1           1                       0
3396    75                  1           1                       0
3397    75                  1           1                       0
3398    79                  1           1                       0
3399    79                  1           1                       0
3400    79                  0           1                       0
3401    76                  1           0                       0
3402    81                  0           0                       0
3403    81                  0           0                       0
3404    81                  0           0                       0
3405    76                  0           1                       0
3406    71                  1           0                       0
3407    74                  0           0                       0
3408    74                  0           0                       0
3409    48                  0           1                       0
3410    76                  1           0                       0
3411    77                  1           0                       0
3412    77                  1           0                       0
3413    77                  1           0                       0
3414    74                  1           1                       0
3415    90                  1           1                       0
3416    79                  1           1                       0
3417    73                  0           1                       0
3418    79                  1           0                       0
3419    74                  0           0                       0

[3420 rows x 4 columns]

In [91]:
y = pdf_map['monto_transaccion']

In [92]:
clf = svm.SVR()
clf.fit(X, y)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [142]:
""" Para un cliente con: (EDAD = 66, CASADO(1), MASCULINO(1)), el monto a otrogar es: 1.000.005 para un crédito AC(0) """
r = clf.predict([[66, 1, 1, 1]])
int(r[0])

100005

In [141]:
""" Para un cliente con: (EDAD = 66, CASADO(1), FEMENINO(0)), el monto a otrogar es: 1.000.000 para un crédito AC(0) """
r = clf.predict([[66, 1, 1, 0]])
int(r[0])

100000